
<style>
/* unvisited link */
a:link {
    text-decoration: none;
}
/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

img.hatcombo {
    width: 500px;
}

</style>



<div id="myModal" class="modal animated bounceInDown"><%= render 'layouts/modal' %></div>


 <div class="header animated fadeInDown">
    <img src="<%= asset_path'style-logo.svg' %>", width="70">
 </div>


 <div class="subhead animated fadeIn">
    Swipe to view the collection
 </div>   
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="circle-one animated fadeIn" data-swiper-parallax="-100"><%= image_tag "circle1.svg" %></div>
                <div class="circle-two animated fadeIn" data-swiper-parallax="-700"><%= image_tag "circle3.svg" %></div>
                <div class="hat animated fadeIn" data-swiper-parallax="-1000">
                <div class="hotspot">
                    <a id="myBtn">
                    <img src="<%= asset_path('hotspot.gif') %>">
                    </a>
                </div>

                    
                        <%= image_tag "hat2.png", width: "250", data: { swiper_parallax: "-1100" } %>
                    </a>
                 </div>
              </div>
            <div class="swiper-slide">
                <div class="circle-one" data-swiper-parallax="-100"><%= image_tag "circle3.svg" %></div>
                <div class="circle-two" data-swiper-parallax="-500"><%= image_tag "circle4.svg" %></div>
                <div class="hoodie animated slideInUp" data-swiper-parallax="-700">
                    <%= image_tag "hoodie2.png", width: "250", data: { swiper_parallax: "-1100" } %>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="circle-one" data-swiper-parallax="-100"><%= image_tag "circle1.svg" %></div>
                <div class="circle-two" data-swiper-parallax="-500"><%= image_tag "circle2.png" %></div>
                <div class="shoes animated slideInUp" data-swiper-parallax="-700">
                    <%= image_tag "shoes.png", width: "250", data: { swiper_parallax: "-1100" } %>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="circle-one" data-swiper-parallax="-100"><%= image_tag "circle1.svg" %></div>
                <div class="circle-two" data-swiper-parallax="-500"><%= image_tag "circle2.png" %></div>
                <div class="shirt animated slideInUp" data-swiper-parallax="-700">
                    <%= image_tag "t-shirts.png", width: "250", data: { swiper_parallax: "-1100" } %>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="circle-one" data-swiper-parallax="-100"><%= image_tag "circle1.svg" %></div>
                <div class="circle-two" data-swiper-parallax="-500"><%= image_tag "circle2.png" %></div>
                <div class="sunglasses animated slideInUp" data-swiper-parallax="-700">
                    <%= image_tag "sunglasses.png", width: "250", data: { swiper_parallax: "-1100" } %>
                </div>
            </div>
        </div>
    

    <div class="cta animated fadeInUp">
        <a href="https://mp.vibescm.com/c/ebf2tm"><div class="btn btn-custom">ADD TO WALLET</div></a>
    </div>

            <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

    <div class="shopSecondary"><i class="fa fa-shopping-bag" aria-hidden="true"></i>&nbsp;&nbsp;Shop these styles now</div>
 

    </div>



 <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        paginationType: "progress",
        watchSlidesProgress: true,
        watchSlidesVisibility: true,
        preloadImages: true,
        centeredSlides: true,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        paginationType: 'bullets',
        spaceBetween: 340,
        parallax: true,
        speed: 400,
    });
    </script>
